@charset "UTF-8";

@import "./global/global.css";
@import "./global/header.css";
@import "./global/footer.css";

/* Utilidades */
@import "./utility/componentes.css";
@import "./utility/tipografia.css";
@import "./utility/cores.css";
@import "./utility/formulario.css";

/* Home */
@import "./home/introducao.css";
@import "./home/tecnologia.css";
@import "./home/parceiros.css";
@import "./home/depoimento.css";

/* Bicicletas */
@import "./bicicletas/bicicletas.css";
@import "./bicicletas/bicicletas-lista.css";

/* Bicicleta */
@import "./bicicleta/bicicleta.css";
@import "./bicicleta/seguro.css";

/* Seguros */
@import "./security/seguros.css";
@import "./security/vantagens.css";
@import "./security/perguntas.css";

/* Contato */
@import "./contato/contato.css";
@import "./contato/lojas.css";

/* Termos */
@import "./termos/termos.css";