@charset "UTF-8";

@import "./global/global.css";
@import "./global/header.css";
@import "./global/footer.css";

/* Utilidades */
@import "./utility/componentes.css";
@import "./utility/tipografia.css";
@import "./utility/cores.css";

/* Home */
@import "./home/introducao.css";
@import "./home/tecnologia.css";
@import "./home/parceiros.css";
@import "./home/depoimento.css";

/* Bicicletas */
@import "./bicicletas/bicicletas-lista.css";

/* Seguros */
@import "./seguros/seguros.css";